$colorGray0: #FCFCFC;
$colorGray1: #F0F0F0;
$colorGray2: #E6E6EB; // Этот вроде лишний
$colorGray3: #CCCCCC;
$colorGray4: #8D8D94; // И этот
$colorGray5: #7C7C7C;
$colorGray6: #515151;

$colorPrimary: #3CBFAD;
$colorPrimaryLight: #B1E5DE;
$colorPrimaryHover: #51D3C7;

$colorSecondary: #08B7EB;
$colorSecondaryLight: #E1F6FD;
$colorSecondaryHover: #1E96D9;

$colorError: #FF695B;
$colorErrorLight: #FFDAD6;
$colorErrorHover: #F04333;

$colorWarning: #FFBE4F;
$colorWarningLight: #FFF1D9;
$colorWarningHover: #FFA70F;

$colorSuccess: #3DCC79;
$colorSuccessLight: #DFF7E9;
$colorSuccessHover: #30B668;

$colorText: #252525;

$fontSizeSmall: 10px;
$fontSizeDefault: 12px;
$fontSizeLarge: 14px;
$fontSizeLargePlus: 16px;
$fontSizeXL: 20px;
$fontSizeXXL: 25px;

$heightInput: 40px;
